<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Register to Pinterest</title>
</head>

<body>
    <div class="container" style="height: 670px;">
        <div class="content">
            <!--pinterest logo-->
            <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
                class="img1" />
            <p class="header">Register to see more</p>

            <form action="/register" method="post">
                <input type="text" placeholder="Username" class="detail" name="username" /><br />
                <input type="text" placeholder="Full Name" class="detail" name="fullName" /><br />
                <input type="email" placeholder="Email" class="detail" name="email" /><br />
                <input type="password" placeholder="Password" class="detail" name="password"/>
                <input type="submit" value="Register" class="btn int"></input>
            </form>


            <a href="#">Forgot your password?</a>

            <footer>
                <p>
                    By continuing, you agree to Pinterest's
                    <b>Terms of Service, Privacy policy.</b>
                </p>
                <hr />
                <p>Already on Pinterest? <a href="/login">Log in</a></p>
            </footer>
        </div>
    </div>
</body>

</html>